{% extends 'app/base.html' %}
{% load static %}

{% block title %}{{ blog.title }}{% endblock title %}

{% block main-content %}
<section class="section section-divider white blog" id="blog-detail" style="background-image: url('/static/app/images/hero-bg.jpg'); color: white;">
  <div class="container">
    {% comment %} <p class="section-subtitle" style="text-align: left; color: white">Blog Post Details</p> {% endcomment %}
    <h2 class="h2 section-title" style="text-align: left; color: white;">{{ blog.title }}</h2>
    
    <div class="blog-detail" style="text-align: left; color: white;">
      <img src="{{ blog.image.url }}" alt="{{ blog.title }} image" style="max-width: 600px; margin: 20px 0;">
      
      <div class="card-meta-wrapper" style="margin-bottom: 20px; display: flex; align-items: center;">
          <p class="meta-info" style="margin-right: 15px; display: flex; align-items: center;">
              <ion-icon name="calendar-outline"></ion-icon> 
              <time datetime="{{ blog.date }}" style="margin-left: 5px;">{{ blog.date|date:"F j, Y" }}</time>
          </p>
          <p class="meta-info" style="display: flex; align-items: center;">
              <ion-icon name="person-outline"></ion-icon> 
              <span style="margin-left: 5px;">By {{ blog.name }}</span>
          </p>
      </div>
      
      <p class="blog-message">{{ blog.message }}</p>
    </div>
    
    <div style="text-align: center; margin-top: 20px;"> <!-- Centering div -->
      <a href="{% url 'blog' %}" class="btn-link" style="color: white; display: flex; align-items: center; justify-content: center;">
        <ion-icon name="arrow-back" aria-hidden="true" style="margin-right: 5px;"></ion-icon>
        <span>Back to Blog List</span>
      </a>
    </div>
  </div>
</section>
{% endblock main-content %}
